*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #d9dcd6;
}

header {
    padding: 10px;
    text-align: left;
    background: #5f9ea0;
    color: #00008B;
}

.page-title {
    display: inline-block;
    font-size: 50px;
}

.About-Me {
    font-size: 25px;
}

.img.circle {
    border-radius: 50%;
}

.Work {
    font-size: 25px;
}

.Contact-Me {
    font-size: 25px;
}